.container {
    text-align: center; 
    margin-bottom: 20px; 
}

.Titulo {
    text-align: center;
}

.HOBBIES {
    text-align: center; 
}

.hobby {
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.hobby img {
    width: 400px; 
    height: auto;
    margin: 10px auto; 
    transition: transform 0.1s ease;
}

.hobby img:hover {
    transform: scale(1.1); /
}

.SERIES_FAVORITAS {
    text-align: center; 
}

.serie img {
    width: 500px; 
    height: auto;
    margin: 10px auto; 
    transition: transform 0.3s ease;
}

img {
    width: 100%;
    height: auto;
}

@keyframes show {
    from {
    opacity: 0;
    scale: 25%;
    }
    to {
    opacity: 1;
    scale: 100%;
}
}

img {
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 25% cover 30%;
    animation-fill-mode: both;
    }