.container {
    text-align: center; 
    margin-bottom: 20px; 
}

.Titulo {
    text-align: center;
}

.HOBBIES {
    text-align: center; 
}

.hobby {
    display: inline-block;
    text-align: center;
    margin: 10px;
}